* {
    margin: 2px;
    padding: 2px;

}
body {
display: grid;

}

.page_header {
    min-height: 10vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: #0084FF;
}

main {
    display: grid;

}


#mene {
    float: right;
}

.page_main {
    min-height: 80vh;
    display: grid;
    place-items: center;
    margin-top: 10px;
    margin-bottom: 10px;


}

.section1 {
    display: grid;
    place-items: center;
    min-width: 100%;
    border-radius: 15px;
 grid-template-columns: 2fr 1fr;

}

#article1 {
    min-height: 350px;
    background-color: #B8DDFF;
    border-radius: 15px;
   

   

}
#artlcle1>p {
    float: left;
text-align-last: center;
}
#code{
    place-self: center;
}
 #p1{
    text-align: center;
 }

 #p2{
    float: left;
 }

#article2 {
    background-color: #CAF0DB;
    min-height: 350px;
    border-radius: 15px;


}

.section2 {
    display: grid;
    place-items: center;
    width: 100%;
    grid-column: 1fr 1fr 1fr;
}





#button_1 {
    width: 100px;
    height: 60px;
    background-color: #0084FF;
    ;
    border-radius: 15px;
}





#article1>p,
#article1>h2 {
    margin-top: 15px;
    line-height: 30px;
    letter-spacing: 1px;

}






.page_footer {
    min-height: 10vh;
    display: grid;
    place-items: center;
    background-color: black;

}

#red {
    display: grid;
    background-color: #FFD2D2;
    place-items: center;
    height: fit-content;
    border-radius: 15px;
}

#yellow {
    display: grid;
    background-color: #FFE7C4;
    place-items: center;
    height: fit-content;

    border-radius: 15px;
}

#purple {
    display: grid;
    background-color: #D5D4F5;
    place-items: center;
    height: fit-content;
    border-radius: 15px;
}

.idea {
    display: grid;
    width: 50%;
    min-height: 600px;
    background-color: #0084FF;
    border-radius: 15px;

}

#idea_man {
    background-color: white;
    object-fit: cover;
    border-radius: 15px;

}

#h1 {
    display: grid;
    place-self: center;
    font-size: 30px;
    color: #9693E6;

}

h4 {
    display: grid;
    place-items: center;
}

p {
    display: grid;
    place-items: center;
}

h2 {
    display: grid;
    place-items: center;
}

.testimonials>img {
    display: grid;
    float: left;
}


.testimonial {
    display: grid;
    place-items: center;
    width: 100%;
}


#phone {
    max-width: 320px;
    float: right;
    border-radius: 15px;

}

#tets1 {
    float: left;
    object-fit: cover;
    border-radius: 50%;
}

#BOB {
    display: grid;
    background-color: #CAF0DB;
    border-radius: 15px;
    place-items: center;
    height: 180px;
    width: 800px;
    margin-bottom: 20px;
}

#celia {

    border-radius: 15px;
    place-items: center;
    background-color: #FFE7C4;
    height: 180px;
    width: 800px;
    margin-bottom: 20px;
}

#Nat {
    border-radius: 15px;
    place-self: center;
    background-color: #FFD2D2;
    height: 180px;
    width: 800px;
    margin-bottom: 20px;
}

.benefits {
    display: grid;
    place-items: center;
    background-color: #9693E6;
    min-height: 100%;
    max-width: 100%
}
   
   
.Getstarted {
        display: grid;
        place-items: center;
        background-color: #9693E6;
        margin-top: 10px;
        margin-bottom: 10px;
        min-height: 100%;
        max-width: 100%;
        
    }






#light {
    display: grid;
    width: 300px;
    background-color: #D5D4F5;
   place-items: center;
    border-radius: 15px;
    margin-bottom: 20px;
}

#h2o {
    position: absolute; top: auto;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);

}

#white {
    color: rgb(255, 255, 255);
    display: grid;
    justify-self: center;
}

#more {
    border-radius: 15px;
    background-color: #9693E6;
}


#yellow {
    column-rule: #FFC166;

}

#buttonn {
    width: 200px;
    align-items: baseline;
    background-color: #9693E6;
    border-radius: 15px;
}

#buttonnn {
    border-radius: 15px;
}

.lastt {

        display: grid;
        background-color: white;
        min-height: 500px;
        max-width: 80%;
    }
 #boss {
    display: grid;
    float: right;
    object-fit: cover;
    border-radius: 60%;
    margin-left: 30px;
 }

 #last1{
    display: grid;
    float: right;
    display: grid;
    font-size: 30px;
    color: #9693E6;
 }

